html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1, h2, h3 {
    color: #bb1b47;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.site-intro {
    font-size: 1.25rem;
}

/* Styles for the nav links */

nav a {
    color: black;
    padding: .25em;
}

nav a:visited {
    color: sienna;
}

nav a:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
}