/*
    font-family: 'Libre Baskerville', serif;
    font-family: 'Ubuntu', sans-serif;
*/

html {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.20rem;
    line-height: 125%;
    color: #50504f;
 }

*,
*   ::before,
*   ::after {
    box-sizing: inherit;
}

nav {
    background-color: #c98226;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: rgb(142, 73, 41);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:visited {
    color: rgb(94, 47, 23);
}

nav a:hover {
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}
nav a:active {
    box-shadow: 2px 2px 5px rgb(94, 47, 23);
}

main {
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: 2em;
    margin: 6% 0;
    text-align: center;
    text-shadow: 3px 3px 3px #ccc
}

img {
    float: left;
    max-width: 35%;
    margin: 10%;
    margin-right: 5%;
    border-radius: 50%;
    box-shadow: 4px 3px 3px #ccc;
    shape-outside: circle(50%);
}

header h2 {
    margin-top: 8%;
}

.rate {
    clear: both;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}

.emoji::after {
    content: "\1f370";
}

.details,
.ingredients,
.instructions,
.nutrition {
    width: 40%;
    float: left;
}

.details,
.instructions {
    margin-right: 16%;
    margin-left: 2%;
}

blockquote {
    clear: both;
    width: 300px;
    height: 280px;
    padding: 85px 16px 0 20px;
    border-radius: 50%;
    background-color: #f3b96c;
    outline: dotted 6px #c98226;
    outline-offset: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    margin: 40px auto;
}


blockquote small {
    font-style: italic;
    text-align: right;
}

footer {
    background-color: #c98226;
    color: white;
    padding: 2% 0;
    margin-top: 10px;
}

footer a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

footer ul {
    list-style-type: none;
}

.col1, .col2, .col3 {
    display: block;
    float: left;
    width: 33%;
}

footer p {
    clear: both;
}


/* Media Queries */

@media (max-width: 810px) {

    html {
        line-height: 125%;
    }

    main {
        width: 95%;
    }

    img {
        max-width: 35%;
        display: inline;
        position: relative;
        top: 16px;
    }
    
    footer {
        padding-right: 5%;
    }

    footer p {
        line-height: 100%;
        font-size: .85em;
        padding-left: 5%;
    }
    
}

@media (max-width: 360px) {

    html {
        line-height: 175%;
    }

    nav a {
        padding: 5px;
        letter-spacing: normal;
        font-size: .9rem;
    }

    nav ul {
        padding-left: 0px
    }

    main {
        width: 90%;
    }

    h1 {
        font-size: 1.5rem;
        text-shadow: none;
        margin-bottom: -10px
    }

    h2 {
        font-size: 1.2rem;
    }
     
    img {
        float: none;
        max-width: 90%;
        margin-left: 5%;
    }

    .details,
    .ingredients,
    .instructions,
    .nutrition {
        width: 90%;
        float: none;
}

    blockquote {
        clear: both;
        width: 300px;
        height: 280px;
        padding: 75px 16px 0 15px;
        border-radius: 50%;
        background-color: #f3b96c;
        outline: dotted 6px #c98226;
        outline-offset: 10px;
        font-family: 'Libre Baskerville', serif;
        text-align: center;
        font-size: .9rem;
        margin: 40px auto;
        
    }

    .col1, .col2, .col3 {
        display: block;
        float: none;
        width: 90%;
        text-align: center;
    }
}

    footer p {
        font-size: 0.75rem;
    }